body{
    color: rgba(140, 148, 174, 0.938);
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(18, 18, 42);
    margin: 0;
    padding: 0;
    border-radius: 10%;
}
body p{
    
    padding: 1rem;
    margin-left: 0;
    text-align: center;
    border-radius: 5%;
}
.imgpresentacion{
    text-align: center;
}
.ulindx li{
    font-family: fantasy;
    text-align: left;
    background-color:rgb(18, 18, 42);
    font-size: large;
}
body header{
    font-family: fantasy;
    text-align: center;
    background-color: rgb(23, 15, 79);
    border-radius: 5%;
    font-size: 100%;
    margin: 0;
}
ul img{
    text-align: center;
    width: 400px;
    height: 200px;
}
ul li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    background-color: rgb(24, 75, 119);
    border-radius: 10%;
    font-size: 2.5em;
}
.pinic{
    text-align: left;
    font-size: medium;
    border-radius: 5%;
    background-color: rgb(18, 18, 42);
}

.titindic{
    text-align: left;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.respuestas p{
    color: black;
    text-align: left;
    font-size: small;
    background-color: indigo;
}

.galery{
    text-align: left;
}
.piesdefoto{
    text-align: justify;
    font-size: small;
    color: darkblue;
}